# 数据预处理

**创建一个人工数据集，并存储在csv文件**

In [3]:
import os

os.makedirs(os.path.join("..", "data"), exist_ok=True)
data_file = os.path.join("..", "data", "house_tiny.csv")
with open(data_file, 'w') as f:
    f.write("NumRoom,Alley,Price\n") #列
    f.write("NaN,Pave,127500\n")      #每行表示一个数据样本
    f.write("2,NaN,10600\n")
    f.write("4,NaN,178100\n")
    f.write("NaN,NaN,140000\n")

In [4]:
import  pandas as pd

data = pd.read_csv(data_file)
data

   NumRoom Alley   Price
0      NaN  Pave  127500
1      2.0   NaN   10600
2      4.0   NaN  178100
3      NaN   NaN  140000

In [5]:
inputs  = data.iloc[:,0:2]  #选中所有行，第1列和第二列的数据
outputs = data.iloc[:,2]    #选中所有行，最后一列
inputs

   NumRoom Alley
0      NaN  Pave
1      2.0   NaN
2      4.0   NaN
3      NaN   NaN

**为应对数据缺失，典型方法包括插值和删除，这里考虑插值**

In [7]:
inputs.iloc[:,0] = inputs.fillna(inputs.iloc[:,0].mean()) #这里将第一列缺失的数据充填为已知数据的平均值
inputs

   NumRoom Alley
0      3.0  Pave
1      2.0   NaN
2      4.0   NaN
3      3.0   NaN

In [8]:
inputs = pd.get_dummies(inputs, dtype=int, dummy_na=True) #将非数值项变为哑变量，并将缺失值单独设列表示
inputs

   NumRoom  Alley_Pave  Alley_nan
0      3.0           1          0
1      2.0           0          1
2      4.0           0          1
3      3.0           0          1

In [9]:
import torch

x = torch.tensor(inputs.values)
y = torch.tensor(outputs.values)
x, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500,  10600, 178100, 140000]))